<section id="videos">
  <h2>Videos</h2>
  {% if include.lead_copy %}{{ include.lead_copy }}{% endif %}
  <div class="row">
    {% for video in page.videos %}
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="{{video.url}}" allowfullscreen></iframe>
        </div>
        {% if video.caption %}
        <div class="caption">
          {{video.caption}}
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>
