{% if page.title %}
	{% assign title = page.title %}
{% else %}
	{% assign title = site.title %}
{% endif %}

{% if page.excerpt %}
	{% assign excerpt = page.excerpt %}
{% else %}
	{% assign excerpt = site.description %}
{% endif %}

{% if page.og.image %}
	{% assign og_image = page.og.image %}
{% else %}
	{% assign og_image = '/img/social.jpg' %}
{% endif %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ title }}</title>
  <meta name="description" content="{{ excerpt | strip_html | strip_newlines | truncate: 160 }}">
  <meta name="keywords" content="{{site.keywords}}">

  <meta itemprop="name" content="{{ title }}">
  <meta itemprop="description" content="{{ excerpt | strip_html | strip_newlines | truncate: 160 }}">
  <meta itemprop="image" content="{{ og_image | prepend: site.url + site.baseurl }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:creator" content="@dunlapcj">
  <meta name="twitter:description" content="{{ excerpt | strip_html | strip_newlines | truncate: 160 }}">

  <meta property="og:title" content="{{ title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | prepend: site.url + site.baseurl }}">
  <meta property="og:image" content="{{ og_image }}">
  <meta property="og:description" content="{{ excerpt | strip_html | strip_newlines | truncate: 160 }}">
  <meta property="og:site_name" content="{{ site.title }}">

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  
</head>
