@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?ndgyrg');
	src:url('../fonts/icomoon.eot?#iefixndgyrg') format('embedded-opentype'),
		url('../fonts/icomoon.woff?ndgyrg') format('woff'),
		url('../fonts/icomoon.ttf?ndgyrg') format('truetype'),
		url('../fonts/icomoon.svg?ndgyrg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-link:before {
	content: "\e9cb";
}

.icon-new-tab:before {
	content: "\ea7e";
}

.icon-mail:before {
	content: "\ea83";
}

.icon-google-plus:before {
	content: "\ea89";
}

.icon-twitter:before {
	content: "\ea92";
}

.icon-youtube:before {
	content: "\ea97";
}

.icon-twitch:before {
	content: "\ea9b";
}

.icon-steam:before {
	content: "\eaae";
}

.icon-github:before {
	content: "\eab3";
}

.icon-linkedin:before {
	content: "\eac8";
}

.icon-stackoverflow:before {
	content: "\eacf";
}
