@keyframes header-image-pan {
	0% {
		background-position: 0 
	}
}

.header-image {
	height: 150px;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;

	@media(min-width: $screen-sm-min) {
		height: 300px;
	}
	h1 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $white;
		text-shadow: 0 0 6px rgba(0,0,0,.8);
		width: 100%;
		text-align: center;
	}
}
.project {
	position: relative;
	.project-media .thumbnail img {
		width: 100%;
	}
	.project-description {
		position: absolute;
		top: 0;
		padding: 8px;
		width: 100%;
		height: 100%;
		color: #fff;
		background: rgba(24,72,113,.6);
		overflow: hidden;
		transition: .4s background;

		@media(min-width: $screen-sm-min) {
			background: transparent;
		}
		h4, p {
			transition: .4s transform;
			will-change: transform;
			position: absolute;
			left: 0;
			width: 100%;
		}
		h4 {
			top: 0;
			text-align: center;
			@media(min-width: $screen-sm-min) {
				transform: translate(0,-200%);
			}
		}
		p {
			bottom: 0;
			padding: 8px;
			@media(min-width: $screen-sm-min) {
				transform: translate(0,100%);
			}
		}
	}

	@media(min-width: $screen-sm-min) {
		&:hover {
			.project-description {
				background: rgba(24,72,113,.6);

				h4, p {
					transform: translate(0,0);
				}
			}
		}
	}
}