@keyframes header-pan {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 100%;
  }
}
@-webkit-keyframes header-pan {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 100%;
  }
}
#screenshots {
  .thumbnail {
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
    transition: .2s box-shadow;
    &:hover {
      box-shadow: 0 0 12px rgba(51, 122, 183,.7);
    }
  }
}
.header-image {
  height: 150px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;

  animation-name: header-pan;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;

  -webkit-animation-name: header-pan;
  -webkit-animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: linear;

  @media(min-width: $screen-sm-min) {
    height: 300px;
  }
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    text-shadow: 0 0 6px rgba(0,0,0,.8);
    width: 100%;
    text-align: center;
  }
}
/* Only do this for browsers that support transitions and that are running
 * JavaScript (since we use jQuery to apply the flipped class)
 */
html.js.csstransitions {
  .project-card {
    perspective: 500px;
    transform-style: preserve-3d;
    .project {
      backface-visibility: hidden;
      transform: rotateX(180deg);
      transition: .4s transform;
      &.flipped {
        transform: rotateX(0deg);
      }
    }
  }
}
.project {
  position: relative;
  .project-media .thumbnail img {
    width: 100%;
  }
  .project-description {
    position: absolute;
    top: 0;
    padding: 8px;
    width: 100%;
    height: 100%;
    color: #fff;
    background: rgba(24,72,113,.6);
    overflow: hidden;
    transition: .4s background;

    @media(min-width: $screen-sm-min) {
      background: transparent;
    }
    h4, p {
      transition: .4s transform;
      will-change: transform;
      position: absolute;
      left: 0;
      width: 100%;
      text-shadow: 0px 0px 2px rgba(0,0,0,.7);
    }
    h4 {
      top: 0;
      text-align: center;
      @media(min-width: $screen-sm-min) {
        transform: translate(0,-200%);
      }
    }
    p {
      bottom: 0;
      padding: 8px;
      @media(min-width: $screen-sm-min) {
        transform: translate(0,100%);
      }
    }
  }

  @media(min-width: $screen-sm-min) {
    &:hover {
      .project-description {
        background: rgba(24,72,113,.6);

        h4, p {
          transform: translate(0,0);
        }
      }
    }
  }
}
