---
layout: project
title: Firearms 2
typed:
  - Firearms 2
project_type: Video Game
header_image: /img/portfolio/firearms2.jpg
excerpt: >
  Between Firearms and Firearms&#58; Source was Firearms 2. This project was one of at least 2 attempts at a Firearms reboot on the Source Engine.
screenshots:
  - url: /img/portfolio/firearms2/49234418.jpg
  - url: /img/portfolio/firearms2/64019274.jpg
  - url: /img/portfolio/firearms2/8852212.jpg
  - url: /img/portfolio/firearms2/93r2.jpg
  - url: /img/portfolio/firearms2/arsenal_menu.jpg
  - url: /img/portfolio/firearms2/artillery_smoke.jpg
  - url: /img/portfolio/firearms2/deaglegame.jpg
  - url: /img/portfolio/firearms2/mac10s.jpg
  - url: /img/portfolio/firearms2/menu.jpg
  - url: /img/portfolio/firearms2/mk23.jpg
  - url: /img/portfolio/firearms2/nvg_final_effect.jpg
  - url: /img/portfolio/firearms2/skills_menu.jpg
  - url: /img/portfolio/firearms2/team_menu.jpg
videos:
  - url: https://www.youtube.com/embed/ull7cWe65PA
  - url: https://www.youtube.com/embed/l2JeNa__Rf0
    caption: Artillery smoke particle and screenspace effects
  - url: https://www.youtube.com/embed/EPC8LOga2fU
    caption: Stun effect, when a player is too close to an explosion
  - url: https://www.youtube.com/embed/CWSYbBgUQfk
    caption: Concussion effect, when a player is within the affected area of a concussion blast. This video also shows the parachute in use.
---

<section id="summary">
  <h2>Summary</h2>
  <p>Between <a href="{{'/portfolio/firearms.html' | prepend: site.baseurl}}">Firearms</a> and <a href="{{'/portfolio/firearms-source.html' | prepend: site.baseurl}}">Firearms: Source</a> was Firearms 2. This project was one of at least 2 attempts at a <a href="{{'/portfolio/firearms.html' | prepend: site.baseurl}}">Firearms</a> reboot on the Source Engine. Development of Firearms 2 halted and I eventually joined up with the <a href="{{'/portfolio/firearms-source.html' | prepend: site.baseurl}}">Firearms: Source</a> team to complete that project.</p>
</section>

<section id="responsibilities">
  <h2>Responsibilities</h2>
  <p>I was the only programmer on the project, therefore I was responsible for everything related to the code. I even created a few assets myself when I needed them. I was responsible for creating the weapon behaviors, animation state machines, gameplay rules, HUD, UI, and effects.</p>
</section>

{% include portfolio/screenshots.html %}
{% include portfolio/videos.html %}
