---
layout: project
title: Firearms
project_type: Video Game
header_image: /img/portfolio/firearms/52029ss.jpg
screenshots:
  - url: /img/portfolio/firearms/caen9.jpg
  - url: /img/portfolio/firearms/coldwar1.jpg
  - url: /img/portfolio/firearms/m60_ingame.jpg
  - url: /img/portfolio/firearms/marie02.jpg
  - url: /img/portfolio/firearms/potw.jpg
  - url: /img/portfolio/firearms/potw2.jpg
  - url: /img/portfolio/firearms/upham01.jpg
videos:
  - url: https://www.youtube.com/embed/KjGegUPnIgs
    caption: Video that covers some of the milestone releases of Firearms and Firearms&#58; Source--a history lesson of sorts.
  - url: https://www.youtube.com/embed/WfhiG-E7qxA
    caption: A &quot;frag&quot; video created by a community member.
  - url: https://www.youtube.com/embed/HrDNQ-qX_1M
    caption: A &quot;frag&quot; video I made in version 2.7... I was pretty good with the Benelli M3 back then.
---

<section id="summary">
  <h2>Summary</h2>
  <p>Firearms was a fast-paced first-person shooter created on the GoldSrc engine (Half-Life 1 mod). It featured 27 weapons based on real-life models and animations. The gameplay is similar to that of the Battlefield franchise (territorial control, control points, etc.)--though Firearms existed before Battlefield ever did ;) It won awards and was eventually bundled with the first retail release of Counter-Strike.</p>
</section>

<section id="responsibilities">
  <h2>Responsibilities</h2>
  <p>I was the only programmer for this game between version 2.65 (around 2002) and 3.0 (around 2005). I was responsible for adding new features, weapons, gameplay mechanics, HUD and UI elements, as well as fixing bugs and making improvements to existing systems.</p>
</section>

{% include portfolio/screenshots.html %}
{% include portfolio/videos.html %}
