---
layout: project
title: Firearms&#58; Source
project_type: Video Game
header_image: /img/portfolio/firearms-source/2.0/dev/2012-09-23_00052.jpg
excerpt: Firearms&#58; Source is a high adrenaline First Person Shooter that emphasizes precision aiming, high mobility, and team-based strategy.
screenshots:
  - url: /img/portfolio/firearms-source/2.0/dev/2012-09-23_00007.jpg
  - url: /img/portfolio/firearms-source/2.0/dev/2012-09-23_00052.jpg
  - url: /img/portfolio/firearms-source/2.0/dev/2012-09-23_00060.jpg
  - url: /img/portfolio/firearms-source/2.0/dev/2012-09-23_00062.jpg
  - url: /img/portfolio/firearms-source/2.0/dev/2012-10-14_00001.jpg
videos:
  - url: https://www.youtube.com/embed/uG0MVzzRfLY
    caption: The screenspace and audio effect when a player is hit by a flashbang.
  - url: https://www.youtube.com/embed/chYxxl4go6E
    caption: Tritium night sights on a few pistols, color controlled by a material proxy that is bound to the player's crosshair color preference.
  - url: https://www.youtube.com/embed/4md6XCuBHsc
    caption: One of the playtests for the 2.0 version, prior to release. We were chatting in Mumble during the test so you can hear the developer chatter (which can get a little goofy) as well as gameplay video.
video_lead: >
  <p><a href="https://www.youtube.com/watch?v=rKAVyoKV08M&amp;list=LLZaQjsIrQabrqTH6g5BWUNg&amp;index=8" target="_blank">This one</a> is probably the best-produced video of the game, done by one of our testers. I can't embed it here because embeds are disabled for this video, but I seriously encourage you to watch it: <a href="https://www.youtube.com/watch?v=rKAVyoKV08M&amp;list=LLZaQjsIrQabrqTH6g5BWUNg&amp;index=8" target="_blank">FireArms Source Mini</a></p>
---

<section id="website">
  <h2>Website</h2>
  <a href="http://firearms-source.com" target="_blank">http://firearms-source.com</a>
</section>

<section id="summary">
  <h2>Summary</h2>
  <p>I think the website sums it up best:</p>
  <blockquote>
    <p>Firearms: Source is a high adrenaline First Person Shooter that emphasizes precision aiming, high mobility, and team-based strategy. Firearms: Source is a return to the classic shooters of the 90′s where the games had higher learning curves and a greater rewards for mastering the game mechanics. While our guns provide a sense of immersion unrivaled by even the most popular of retail shooters, our gameplay remains a fast paced deathmatch unrestricted by realism.</p>
    <footer><cite title="Firearms: Source Website">Firearms: Source Website</cite></footer>
  </blockquote>
</section>

<section id="responsibilities">
  <h2>Responsibilities</h2>
  <p>I was responsible for writing a large portion of the weapon handling and behaviors, gameplay/rules, animation state machines, scripting hooks for game designers, the weapon and body attachment/customization systems, entities for level designers, material proxies for artists, screen-space (and some world-space) effects, HUD, and UI. All of this was written mostly in C++ using a little bit of C when and where required. The initial IDE of choice was Visual Studio 2010 but myself and the other programmers moved to Visual Studio 2012 later on.</p>
</section>

{% include portfolio/screenshots.html %}

{% include portfolio/videos.html lead_copy=page.video_lead %}
