---
layout: project
title: VIKENG Mocap Tool
project_type: Native Application
screenshots:
  - url: /img/portfolio/vikeng-mocap/mocap-tool1.jpg
videos:
  - url: https://www.youtube.com/embed/TCNXQiav-hc
    caption: Reviewing a playback of pre-recorded data.
---

<section id="summary">
  <h2>Summary</h2>
  <p>This is a tool that I wrote for recording and reviewing motion capture data as well as gesture library data for <a href="{{'/portfolio/gdis.html' | prepend: site.baseurl }}">MMIST</a>. We used it to record new gestures into the gesture recognition database as well as review virtual locomotion (walking/running in a virtual world) information.</p>
  <p>This project is a native application written in C++ using <a href="http://www.juce.com/" target="_blank">JUCE</a> and <a href="http://www.visualizationlibrary.org/documentation/index.html" target="_blank">Visualization Library</a>.</p> 
</section>

{% include portfolio/screenshots.html %}
{% include portfolio/videos.html %}
